<nav>
  <% if current_user %>
    Signed in as <%= current_user.email %>
    <% if admin? %>
      <%= link_to "Admin", admin_root_path %>
    <% end %>
  <% else %>
    <li><%= link_to "Sign up",  new_user_path %></li>
    <li><%= link_to "Sign in",  signin_path %></li>
  <% end %>
</nav>

<% if admin? %>
  <%= link_to "New Project", new_project_path %>
<% end %>

<ul>
  <% @projects.each do |project| %>
      <li><%= link_to project.name, project %></li>
  <% end %>
</ul>

